<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
</head>

<body>
    <h2>{{error.title}}</h2>
    <h4>{{error.desc}}</h4>
    {{#if error.trace}}<pre>{{error.trace}}</pre>{{/if}}
</body>

</html>